<h1>Bills</h1>

<div class="panel panel-warning text-info">
  <div class="panel-body">
    <h4>READ THIS!!</h4>
    <p>Please note that you don't have enough permission to view all invoices. <br/>
      you can only view invoices that you have created. So please note of your invoice ids.</p>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <td colspan="2">
      <%= form_for :invoice, url: { action: 'create' } do |f| %>
        <%= f.submit "Create Invoice", class: 'btn btn-success' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Id</th>
    <th>Bill Number</th>
    <th>Action</th>
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.id %></td>
      <td><%= invoice.billid %></td>
      <td><%= link_to "Show", invoice_path(invoice.billid) %></td>
    </tr>
  <% end %>
</table>
