<!DOCTYPE html>
<html>
  <head>
    <title>Quickbooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless session[:token] %>
      <ipp:connectToIntuit></ipp:connectToIntuit>
    <% end %>

    <% if notice %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>


    <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

    <script>
      intuit.ipp.anywhere.setup({
        menuProxy: "<%= bluedot_settings_url %>",
        grantUrl: "<%= authenticate_settings_url %>"
      })
    </script>
  </body>
</html>
